@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html,
body {
  font-family:"Inter", sans-serif;
  background-color: rgb(241, 241, 241);
  margin: 0; 
  padding: 0px; 
  height: 70vh;
  display: block;
  align-items: center;
  align-content: center;
  justify-content: center;  

}
#nprogress .bar {
  background: #0079ff !important; /* Sua cor preferida (ex: azul marinho) */
  height: 4px !important;
}

/* Mudar a cor da sombra (trail) */
#nprogress .peg {
  box-shadow: 0 0 10px #0079ff, 0 0 5px #0079ff !important;
}
